<h1>プロフィール</h1>
<h3>名前</h3>
<p><%= current_user.name %></p>
<h3>年齢</h3>
<p><%= current_user.age %></p>
<h3>メールアドレス</h3>
<p><%= current_user.email %></p>
<%= link_to 'Edit', edit_user_registration_path %>
